## Machine Learning

En este punto mi modelo recibira  el id de un juego y retornara 5 juegos similares, para esto se nos recomendo en la clase de consultas un estandar muy comun llamado la similitud de coseno el cual se basa en determinar la similitud entre dos vectores previamente tratados en los pasos anteriores y terminados de organizar en este notebook.

In [1]:
import pandas as pd
import numpy as np
from numpy import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings("ignore")
pd.options.display.max_columns = None # Opcion para mostrar todas las columnas de un dataframe

Importo todos los datos que ya preprocese en el ETL

In [2]:
dfGames = pd.read_csv("Data/dfOutputSteamGames")
dfGames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28785 entries, 0 to 28784
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    28785 non-null  int64
 1   publisher     23985 non-null  object
 2   genres        28785 non-null  object
 3   title         28785 non-null  object
 4   specs         28785 non-null  object
 5   price         28785 non-null  float64
 6   early_access  28785 non-null  bool
 7   id            28785 non-null  int64
 8   developer     28785 non-null  object
 9   release_year  28785 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [3]:
dfReviews = pd.read_parquet("Data/dfAustralianUserReviews")
dfReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int32
 2   recommend           59305 non-null  bool
 3   review              59305 non-null  object
 4   posted_year         59305 non-null  int32
 5   title               59305 non-null  object
 6   developer           59305 non-null  object
 7   sentiment_analysis  59305 non-null  int64
dtypes: bool(1), int32(2), int64(1), object(4)
memory usage: 2.8+ MB

In [4]:
dfAuserItems = pd.read_parquet("Data/dfAuserItems")
dfAuserItems.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2803737 entries, 0 to 5153207
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int32
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   steam_id          object
 5   items_count       int64
 6   user_id           object
 7   genres            object
 8   price             float64
 9   developer         object
 10  release_year      object
dtypes: float64(1), int32(1), int64(3), object(6)
memory usage: 246.0+ MB

In [5]:
# Unifico dos de los tres dataframes por su contenido 

mergedData = pd.merge(dfAuserItems, dfReviews[['user_id', 'posted_year', 'recommend', 'sentiment_analysis']], on='user_id', how='inner')

In [6]:
mergedData

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,genres,price,developer,release_year,posted_year,recommend,sentiment_analysis
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
1,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
2,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
3,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,[Action],4.99,Valve,2003,2011,True,2
4,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,[Action],4.99,Valve,2003,2011,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4262666,400040,ShareX,1,0,76561198312638244,36,76561198312638244,"[Audio Production, Design &amp; Illustration, ...",4.99,ShareX Team,2007,2014,True,2
4262667,379720,DOOM,1178,0,76561198312638244,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262668,379720,DOOM,1178,0,76561198312638244,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262669,379720,DOOM,1178,0,76561198312638244,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262670,379720,DOOM,1178,0,76561198312638244,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2

In [7]:
mergedData = mergedData.drop(columns=["playtime_2weeks", "steam_id"]) # Elimine innecesarias

In [8]:
mergedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4262671 entries, 0 to 4262670
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   item_id             int32
 1   item_name           object
 2   playtime_forever    int64
 3   items_count         int64
 4   user_id             object
 5   genres              object
 6   price               float64
 7   developer           object
 8   release_year        object
 9   posted_year         int32
 10  recommend           bool
 11  sentiment_analysis  int64
dtypes: bool(1), float64(1), int32(2), int64(3), object(5)
memory usage: 329.3+ MB

In [9]:
# Creo una lista con las columnas especificas a tratar en un nuevo DF
groupData = ["item_id", "item_name", "playtime_forever", "items_count", "user_id", "genres", "price", "developer", "release_year", "posted_year", "recommend", "sentiment_analysis"]
filter = mergedData[groupData]
filter

,item_id,item_name,playtime_forever,items_count,user_id,genres,price,developer,release_year,posted_year,recommend,sentiment_analysis
0,10,Counter-Strike,6,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
1,10,Counter-Strike,6,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
2,10,Counter-Strike,6,277,76561197970982479,[Action],9.99,Valve,2000,2011,True,2
3,30,Day of Defeat,7,277,76561197970982479,[Action],4.99,Valve,2003,2011,True,2
4,30,Day of Defeat,7,277,76561197970982479,[Action],4.99,Valve,2003,2011,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4262666,400040,ShareX,1,36,76561198312638244,"[Audio Production, Design &amp; Illustration, ...",4.99,ShareX Team,2007,2014,True,2
4262667,379720,DOOM,1178,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262668,379720,DOOM,1178,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262669,379720,DOOM,1178,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2
4262670,379720,DOOM,1178,36,76561198312638244,[Action],29.99,id Software,2016,2014,True,2

In [10]:
filter[groupData] = filter[groupData].astype(str) # Para facilitar el entrenamiento del modelo

In [11]:
filter = filter.drop_duplicates() # Elimino duplicados

In [12]:
from tools import countNulls
countNulls(filter)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

                               Columna  Número de Nulos Porcentaje de Nulos
item_id                        item_id                0                0.0%
item_name                    item_name                0                0.0%
playtime_forever      playtime_forever                0                0.0%
items_count                items_count                0                0.0%
user_id                        user_id                0                0.0%
genres                          genres                0                0.0%
price                            price                0                0.0%
developer                    developer                0                0.0%
release_year              release_year                0                0.0%
posted_year                posted_year                0                0.0%
recommend                    recommend                0                0.0%
sentiment_analysis  sentiment_analysis                0                0.0%

In [13]:
from tools import mixture

In [14]:
# Cree una columna llamada "groupedata" que integra todas las demas
filter["groupedata"]=filter.apply(mixture, axis=1)
filter

,item_id,item_name,playtime_forever,items_count,user_id,genres,price,developer,release_year,posted_year,recommend,sentiment_analysis,groupedata
0,10,Counter-Strike,6,277,76561197970982479,['Action'],9.99,Valve,2000,2011,True,2,76561197970982479 Counter-Strike 277 6 Valve [...
3,30,Day of Defeat,7,277,76561197970982479,['Action'],4.99,Valve,2003,2011,True,2,76561197970982479 Day of Defeat 277 7 Valve ['...
6,300,Day of Defeat: Source,4733,277,76561197970982479,['Action'],9.99,Valve,2010,2011,True,2,76561197970982479 Day of Defeat: Source 277 47...
9,240,Counter-Strike: Source,1853,277,76561197970982479,['Action'],19.99,Valve,2004,2011,True,2,76561197970982479 Counter-Strike: Source 277 1...
12,3830,Psychonauts,333,277,76561197970982479,['Action'],9.99,Double Fine Productions,2005,2011,True,2,76561197970982479 Psychonauts 277 333 Double F...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4262651,238010,Deus Ex: Human Revolution - Director's Cut,284,36,76561198312638244,['Action' 'RPG'],19.99,"Eidos Montreal,Feral Interactive (Mac)",2013,2014,True,2,76561198312638244 Deus Ex: Human Revolution - ...
4262655,730,Counter-Strike: Global Offensive,23,36,76561198312638244,['Action'],14.99,Valve,2012,2014,True,2,76561198312638244 Counter-Strike: Global Offen...
4262659,362890,Black Mesa,2184,36,76561198312638244,['Action' 'Adventure' 'Indie' 'Early Access'],19.99,Crowbar Collective,2015,2014,True,2,76561198312638244 Black Mesa 36 2184 Crowbar C...
4262663,400040,ShareX,1,36,76561198312638244,['Audio Production' 'Design &amp; Illustration...,4.99,ShareX Team,2007,2014,True,2,76561198312638244 ShareX 36 1 ShareX Team ['Au...
4262667,379720,DOOM,1178,36,76561198312638244,['Action'],29.99,id Software,2016,2014,True,2,76561198312638244 DOOM 36 1178 id Software ['A...

In [15]:
uniqueValues = filter['item_id'].unique()
uniqueValues

array(['10', '30', '300', ..., '405960', '464120', '352760'], dtype=object)

In [ ]:
for value in uniqueValues:
    print( ' '.join(value))

In [17]:


'''

Creamos una nueva columna llamada "datos_agrupado" en el DataFrame "filter".
Esta columna contiene una concatenación de los valores de todas las columnas en cada fila.

Creamos el modelo de vectorización y la matriz
 
model = TfidfVectorizer(stop_words='english')
womb = model.fit_transform(filter[groupData])

Comentario:
Creamos un modelo de vectorización TF-IDF usando TfidfVectorizer de scikit-learn.
Este modelo se ajusta a los datos del DataFrame "filter" en la columna "groupData".
La matriz resultante se almacena en la variable "womb".
La vectorización TF-IDF convierte el texto en una matriz numérica basada en la frecuencia de términos y la frecuencia inversa del documento.'''



model = TfidfVectorizer(stop_words='english')
womb = model.fit_transform(filter[groupData])

In [18]:
womb

<12x12 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [19]:
model

TfidfVectorizer(stop_words='english')

In [20]:
# Calculamos la similitud del coseno tomando todos las filas de la matriz
similarity = cosine_similarity(X = womb, Y = womb)
similarity.shape

(12, 12)

In [21]:
dfsimilarity = pd.DataFrame(similarity)
dfsimilarity

     0    1    2    3    4    5    6    7    8    9    10   11
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [22]:
dfsimilarity.to_parquet("Data/similarity")

In [23]:
# Reiniciamos el indice del dataframe y creamos una serie de índices
filter= filter.reset_index()
indice = pd.Series(filter.index, index=filter["item_id"])

In [24]:
filter.shape

(2699955, 14)

In [25]:
from tools import randomElim

In [26]:
filter = randomElim(filter, 2699000)

In [27]:
filter.shape

(955, 14)

In [28]:
filter.to_parquet("Data/modelFiltered")
indice.to_csv("Data/indexModel")

In [29]:
filter.head()

,index,item_id,item_name,playtime_forever,items_count,user_id,genres,price,developer,release_year,posted_year,recommend,sentiment_analysis,groupedata
3551,6233,91200,Anomaly Warzone Earth,16,524,thequeenpanda,['Action' 'Indie' 'Strategy'],9.99,11 bit studios,2011,2012,True,2,thequeenpanda Anomaly Warzone Earth 524 16 11 ...
12478,19800,407840,ORION,6,173,Xx-Woods,['Action' 'Indie' 'RPG'],0.99,"Trek Industries, Inc",2015,2015,True,2,"Xx-Woods ORION 173 6 Trek Industries, Inc ['Ac..."
12532,19910,220,Half-Life 2,1991,71,kevinator23,['Action'],9.99,Valve,2004,2012,True,2,kevinator23 Half-Life 2 71 1991 Valve ['Action...
13740,21999,331470,Everlasting Summer,47,45,A-Very-Sly-Person,['Adventure' 'Casual' 'Free to Play' 'Indie'],4.99,Soviet Games,2014,2014,True,2,A-Very-Sly-Person Everlasting Summer 45 47 Sov...
15828,26382,8870,BioShock Infinite,42,91,2768820078,['Action'],29.99,"Irrational Games,Aspyr (Mac),Virtual Programmi...",2013,2015,False,2,2768820078 BioShock Infinite 91 42 Irrational ...

In [30]:
indice.to_list()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]